// ================== service home =============
.service_page {
  .auth_lay {
    display: none;
  }

  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 30px;
  }

  .heading {
    min-width: 530px;
    border-bottom: 3px solid #d9d9d9;

    div.tab_head {
      width: 100%;
      span {
        font-weight: 400;
        font-size: 16px;
        color: $white;
        padding-bottom: 17px;
        display: block;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .all_levels {
    min-height: 90vh;
    margin-bottom: 30px;

    .serv_item {
      background: #ffffff;
      border: 1px solid #d9d9d9;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 18px 15px 40px;
      margin-bottom: 25px;
      min-height: 215px;

      .head_item {
        display: flex;
        justify-content: space-between;

        span {
          margin-inline-start: 40px;
          margin-top: 10px;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }

      .item_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #777777;
        font-weight: 400;
        font-size: 14px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        color: #717171;
        padding-bottom: 15px;
        padding-top: 27px;
      }
    }

    .choose_country {
      &.second_ch {
        margin-top: 33px;
      }
      color: #fff;
      h3 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 18px;
      }
    }

    .personal_info {
      .form-group {
        margin-bottom: 20px;

        .check_code-2 {
          background: none !important;

          svg {
            font-size: 23px;
          }

          &.green {
            svg {
              color: green;
            }
          }

          &.red {
            svg {
              color: red;
            }
          }
        }

        .check_code,
        .check_code-2 {
          background: #006aa7;
          width: 93px;
          height: 35px;
          border: none;
          outline: none;
          color: #fff;
          position: absolute;
          top: 10px;
          left: 20px;

          @include centering;
        }
      }
    }

    .choose_payment {
      .all_payment {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;

        .payment_method {
          background-color: #fff;
          padding: 16px;
          display: flex;
          align-items: center;
          gap: 10px;

          .image {
            background: #f5f5f5;
            width: 35px;
            height: 35px;
            padding: 5px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          p {
            font-weight: 500;
            font-size: 14px;
            color: #000;
          }
        }
      }

      .payment_form {
        background-color: #fff;
        padding: 50px 40px 60px;
        margin-top: 20px;

        label {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }

  .total_box {
    background: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;

    .head_box {
      background: #191948;
      border-radius: 5px 5px 0px 0px;
      padding: 26px 22px;
      margin-bottom: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: #fff;
        font-weight: 400;
        font-size: 14px;

        &.text-center {
          text-align: center;
          font-weight: 700;
          font-size: 16px;
        }

        &.price {
          font-weight: 500;
          font-size: 24px;
        }
      }
    }

    .box_info {
      min-height: 40vh;
      h4 {
        font-weight: 700;
        font-size: 16px;
        padding: 0 17px 0;
      }
      ul {
        list-style-type: disc;
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          justify-content: space-between;
          padding: 17px;
          border-bottom: 1px solid #ddd;
          span {
          }
        }
      }

      &.box_category {
        min-height: 370px;
        ul {
          li {
            gap: 10px;
            justify-content: flex-start;

            span {
              font-weight: 500;
              font-size: 14px;
              color: #777;
            }
            img {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }
    button.Next_first {
      background: #ffb800;
      font-weight: 700;
      font-size: 14px;
      gap: 5px;
    }
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.main_box {
  display: flex;
  gap: 30px;
  // flex-wrap: wrap;

  .total_box {
    flex: 35%;
    max-width: 35%;
  }

  .services_boxes {
    flex: 68%;
    max-width: 68%;
  }
}

.coupon {
  text-align: center;

  .code_text {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  form {
    margin-top: 22px;

    .form-group {
      display: flex;
      gap: 5px;

      input {
        max-width: 70%;
        flex: 70%;
        height: 30px;
      }

      button {
        max-width: 30%;
        flex: 30%;
        background: #8c8c8c;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.no-padd {
  padding: 5px !important;
}

.date_check {
  gap: 10px;

  input {
    flex: 85%;
    max-width: 85%;
  }

  button {
    @include centering;
    max-width: 150px;
  }
}
// ================== service home ===============
