/*====================== start global page ======================================*/

// install fonts

@font-face {
  font-family: "NeoSansArabic";
  src: url(@/assets/fonts/NeoSansArabic.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(@/assets/fonts/Montserrat-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar,
.service_page .scroll::-webkit-scrollbar {
  height: 7px;
}

body::-webkit-scrollbar-track,
.service_page .scroll::-webkit-scrollbar-track {
  border-radius: 1rem;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb,
.service_page .scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: $hoverColor;
}

body::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
}

body {
  font-family: "NeoSansArabic";
  font-size: 16px;
  background: $backgroundColor;
  // height: 5000px;
  overflow-x: hidden;
}

html[lang="ar-EG"] body {
  direction: rtl;
  text-align: right;
}

.text-ellipsis-1 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text-ellipsis-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-ellipsis-5 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

section {
  overflow: hidden !important;
}

.owl-carousel {
  direction: ltr !important;
}

.slick-slider {
  direction: ltr;
}

.slick-track {
  margin: auto;
  height: auto !important;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-transform: lowercase;
  line-height: 1.8;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.center-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  color: $black;
  margin-bottom: 10px;
  padding-inline-start: 2px;
}

// swal2

.swal2-popup .swal2-title {
  font-size: 20px !important;
}
.swal2-popup .swal2-styled {
  padding: 0 !important;
  margin: 0 !important;
}
.swal2-icon {
  font-size: 10px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  min-width: 100px;
  height: 40px;
}

// multiselect

.multiselect {
  margin-bottom: 18px;
}

.multiselect__tags {
  background: #fff !important;
  padding: 15px 38px 0 40px !important;
}

.multiselect__placeholder,
.multiselect__single {
  color: #000 !important;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 18px !important;
  padding-top: 0px !important;
}
.multiselect__select:before {
  top: 93% !important;
}

.multiselect__single {
  background: #fff !important;
}

p {
  margin-bottom: 0 !important;
}

button,
input,
textarea {
  outline: none;
  border: 1px solid #d9d9d9;
  display: block;
  width: 100%;
  height: 55px;
  padding: 18px 22px;

  &:focus,
  &:active {
    border: 1px solid $hoverColor;
  }
}

select {
  width: 100%;
  height: 45px;
  border: none;
  box-shadow: none;
  outline: none;
  background: #e7f0ff 0% 0% no-repeat padding-box;

  option {
    background: #fff;
  }
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 1px solid $hoverColor !important;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

svg {
  width: 16px;
}

// start pagination

.paginate {
  @include centering;
  margin-top: 40px;
  ul {
    @include centering;
    gap: 15px;
    li {
      a {
        @include centering;
        gap: 15px;
        // color: #58595b;
        // border: 1px solid #cfd8ec;
        // border-radius: 2px;
        background: #d02c30;
        border-radius: 3px;
        color: #fff;
        width: 34px;
        height: 33px;

        &.active {
          // border: 1px solid $mainColor;
          // color: $mainColor;
        }

        svg {
          color: #f7c553;
        }
      }
    }
  }
}

// sidebar
.side_bar_content {
  .b-sidebar-header {
    margin: 20px 0;
  }

  img {
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    display: block;
    margin-bottom: 23px;
  }

  button {
    width: auto !important;
  }

  button.close {
    background: none;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
    border: none;
    font-size: 40px;
  }

  .info {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 40px;
      li {
        a {
          color: #000;
          font-size: 18px;
          transition: 0.5s;

          &:hover {
            margin-right: 10px;
            color: $mainColor;
          }
        }
        p {
          cursor: pointer;
        }
      }
    }
  }
}

// rotate animation

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// eye password

.eye {
  position: absolute;
  top: 14px;
  left: 20px;
  color: $black;
}

// .form_tel {
//   height: 55px;
//   margin-bottom: 18px;
//   border: 1px solid #ddd;

.vti__dropdown-list.below {
  // width: 526px !important;
  top: 53px;
  display: flex;
  flex-direction: column;
}

.vti__dropdown {
  background: none;
  position: unset !important;
  border-inline-start: 1px solid #ddd !important;
}

.vue-tel-input {
  border: none !important;
  box-shadow: none;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  background: #e7f0ff;
  height: 45px;
  margin-bottom: 20px;
}

input.vti__input {
  height: 100%;
  margin-bottom: 0 !important;
  border: none !important;
}

.vti__dropdown-list {
  display: flex;
  flex-direction: column;
}

// }

// .side_bar_content {
//   button {
//     width: auto;
//   }

//   button.close {
//     background: none;
//     font-weight: bold;
//     font-size: 30px;
//     padding: 0;
//   }

//   .info {
//     ul {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       gap: 20px;
//       margin-bottom: 40px;
//       li {
//         a {
//           color: #000;
//           font-size: 18px;
//           font-family: "Calibri-Regular";
//           transition: 0.5s;

//           &:hover {
//             margin-right: 10px;
//             color: $mainColor;
//           }
//         }
//       }
//     }
//   }
// }

.swal2-styled.swal2-confirm {
  width: 70px;
  border: none;
  outline: none;
  box-shadow: none;
}

.error_validate {
  color: #d02c30;
  font-size: 11px;
  margin-bottom: 5px;
}

button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

// page transition between pages name:fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// page transition2 between pages name:intro

$t-duration: 800ms;
$t-delay: 300ms;

.intro-enter-active,
.intro-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: #2e2e2e;
  }

  &::after {
    top: 50%;
    background-color: #2e2e2e;
  }
}

.intro-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.intro-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}

.intro-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.intro-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}

// page transition2 between pages name:intro

// start page transition3 name:fade2

.fade2-enter-active,
.fade2-leave-active {
  transition: all 0.4s cubic-bezier(0.175, 0.985, 0.92, 0.95);
}

.fade2-enter,
.fade2-leave-active {
  transform: translateX(10%) skew(4deg);
  opacity: 0;
}
@media only screen and (max-width: 959px) {
  .fade2-enter,
  .fade2-leave-active {
    transform: translateX(0) skew(0);
  }
}

// end page transition3

// start page transition 4  name:page

.page-enter-active {
  animation: acrossIn 0.45s ease-out both;
}

.page-leave-active {
  animation: acrossOut 0.65s ease-in both;
}

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

// end page transition 4

// start page transition 5 name:fadeOpacity
.fadeOpacity-enter-active,
.fadeOpacity-leave-active {
  transition: opacity 0.35s ease-out;
}

.fadeOpacity-enter,
.fadeOpacity-leave-active {
  opacity: 0;
}
// end page transition 5

// end page transition 6 name:page6
.page6-enter-active {
  animation: acrossIn 0.45s ease-out both;
}

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// end page transition 6

// end page transition 7 name:page7
.page7-leave-active {
  animation: acrossOut 0.65s ease-in both;
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

// end page transition 7

@for $i from 1 through 100 {
  .mt-#{$i}0 {
    margin-top: #{$i}0px;
  }
  .mb-#{$i}0 {
    margin-bottom: #{$i}0px;
  }
}

// second layout

// .second_layout {
//   .navbar_page,
//   .crumb {
//     // @include backgroundImage;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-image: url(@/assets/images/auth_bacck.png);
//   }

//   .crumb {
//     text-align: center;
//     padding: 40px 0;

//     h3 {
//       color: #0c0c0c;
//       font-size: 20px;
//       font-family: "Bahij-Helvetica-Neue-75-Bold";
//       margin-bottom: 16px;
//     }

//     ul {
//       display: flex;
//       justify-content: center;

//       gap: 8px;

//       li {
//         a {
//           color: #0c0c0c;
//         }

//         svg {
//           color: #f7c553;
//           font-size: 16px;
//         }
//       }
//     }
//   }
// }

/* ====================== end global page ====================================== */
