//========== start navbar =========

.navbar_page {
  padding: 25px 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(86, 86, 84, 0) 111.84%
  );

  .logo {
    max-width: 136px;
    height: 54px;
    margin-inline-start: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav_items {
    > ul {
      @include centering;
      gap: 23px;

      li {
        position: relative;
        z-index: 2;

        ul {
          background: #000000;
          color: $white;
          text-align: center;
          border-radius: 5px;
          visibility: hidden;
          opacity: 0;
          width: 230px;
          min-width: 5rem;
          position: absolute;
          transition: all 0.5s ease;
          left: 0;
          display: none;

          li a {
            font-weight: 400;
            font-size: 17px;
            padding: 10px 0;
            display: block;
            font-family: "NeoSansArabic";
          }
        }

        a {
          font-family: "Montserrat-Regular";
          font-weight: 500;
          font-size: 14px;
          color: $white;
        }

        button {
          color: $mainColor;
        }
        button,
        button:focus-visible,
        button:active {
          background: transparent;
          box-shadow: none;
          color: #000;
          border: none;
        }
      }
    }
  }

  .nav_auth {
    display: flex;
    align-items: center;

    .language {
      margin-inline-start: 24px;
      img {
        width: 18px;
        height: 18px;
      }
      span {
        color: $white;
      }
    }

    .btns-auth {
      button {
        max-width: 145px;
        border: 1px solid $white;
        background: transparent;

        a {
          color: $white;
        }
      }
    }

    .sidebar {
      button {
        margin-inline-start: 20px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.profile_im {
  button {
    background: none;
    border: none;

    &:hover {
      background: none !important;
      max-width: unset;
      width: unset;
    }

    &::after {
      display: none;
    }

    .drop_btn {
      img {
        width: 40px;
        height: auto;
        border-radius: 50%;
      }
    }
  }

  ul {
    box-shadow: 0px 21px 36px #5e5c5c2b;
    border-radius: 5px;
    border: none;
    a {
      text-align: start;
      width: 100%;
      display: block;
      padding: 5px 0;
      color: #000;
      padding-inline-start: 10px;

      &:hover {
        color: #fff !important;
        background: $mainColor;
      }
    }
    li {
      display: block;
      width: 100%;
      a {
        text-align: start;
        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}

.router-link-exact-active.router-link-active a,
.router-link-exact-active.router-link-active i,
a.nuxt-link-exact-active.nuxt-link-active,
i.nuxt-link-exact-active.nuxt-link-active {
  // color: $hoverColor !important;
}

// dropdown menu

.nav_items ul li:hover > ul,
.nav_items ul li ul:hover {
  visibility: visible;
  opacity: 0.6;
  display: block;
}

.nav_items ul li ul li {
  clear: both;
  width: 100%;
}
//========== end navbar ===========
