// ============ style en ===========
html[lang="en-US"] body {
  direction: ltr;
  text-align: left;

  .navbar_page .nav_auth .language {
    margin-inline-end: 24px;
  }

  .header .introduce .info {
    border-inline-start: 4px solid #fff;
    padding-inline-start: 20px;
    border-inline-end: none !important;
    padding-inline-end: none !important;
  }
  .service_page .total_box button.Next_first svg {
    transform: rotate(180deg);
  }

  .bord_right {
    border-left: 3px solid #d02c30;
    border-right: none;
  }
}

// ============ style en ===========
